html {box-sizing: border-box;}
/*,*:after; *:before{box-sizing: inherit;}*/

body{
    background: black;
    min-height: 100%;
    line-height: 1.8;
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.container{
    width: 80%;
    height: 100%;
    background-color: white;
    margin:auto;
}
header{
    text-align: center;
    padding-top: 1px;
}
h1{
    font-size: 3em;
}
.profilesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile{
   /* display: inline-block;*/
    width: 20%;
    padding: 2%;
    text-align: center;
}
.profile h3{
    text-align: center;
    border-bottom: 1px solid #2CA86D;
    display: inline-block;  
}
.ssn{
    color: #2CA86D;
    filter: blur(5px);
}
.ssn:hover{
    filter: blur(0px);
}
.email{
    color: #CBCBCB;
    word-wrap: break-word;
    margin-top: 0;
}
address{
    padding-bottom: 15px;
    font-style: normal;
    color: #868686;
    text-transform: capitalize;
}
img{
    width: 100%;
}